@font-face {
    font-family: "Gecko Lunch";
    src: url("Gecko_Lunch.ttf");
}

@font-face {
    font-family: "Ramdone";
    src: url("Ramdone_DEMO.ttf");
    unicode-range: U+30-39;
}

.rotate {
    animation: rotation 8s infinite linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}

#LD-form {
    text-align: center;
}

input[type=number] {
    font-family: "Ramdone";

    &::placeholder {
        font-size: 30px;
    }
}

#number-capture {
    font-family: "Ramdone";
    margin-top: -80px;
}

#name-capture {
    margin-top: -60px;
}

#name-capture, #number-capture {
    position: absolute;
    z-index: 0;
    font-size: 20vw;   
    opacity: 0.05;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    font-weight: bolder;
    border: none;
    padding-top: 21px;

    width: 90%;
    color: #87ceeb;
    border: 3px solid transparent;
    padding-left: 10px;

}

input[type=text], input[type=number], input[type=email] {
    position: relative;
    z-index: 1;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    font-weight: bolder;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: none;
    width: 90%;
    line-height: 50px;
    color: #87ceeb;
    caret-color: #87ceeb;
    border: 3px solid transparent;
    text-align: center;
    padding-left: 10px;
    background-color: transparent;

    &::placeholder {
        font-size: 30px;
        color: #d3d3dd;
        text-shadow: none;
    }
}

input:focus {
    outline: none !important;
    border: 3px solid #87ceeb;
    border-radius: 10px;
}

label {
    font-size: 40px;
    line-height: 50px;
    color: #f7fc9f;
    box-shadow: none;
    text-shadow: -1px -1px 0 #87ceeb, 1px -1px 0 #87ceeb, -1px 1px 0 #87ceeb, 1px 1px 0 #87ceeb; 

    &:nth-child(1) {
        word-spacing: 6px;
    }
}

#submit-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    position: fixed;
    bottom: 0;
    left: 0;
    text-align: center;
    border: none;
    background-color: transparent;
    color: #fff;
    width: 100%;
    height: 120px;
    font-size: 70px;
    background-color: #FA6C1C;
}


label, h1, button, input {
    font-family: "Gecko Lunch";
}

#server-status {
    font-family: "Gecko Lunch";
}

//mobile
@media only screen and (min-width: 200px) and (max-width: 500px) {
    input[type=text], input[type=number], input[type=email] {
        margin-top: -100px;
        font-size: 20vw;
    }

    header {
        position: fixed;
        top: 0;

        img {
            width: 40%;
            margin-top: -20px;
            margin-right: -35px;
            float: right;
            background-color: transparent;
        }
    }

    #LD-form {
        z-index: 999;
        margin-top: 120px;
    }
}

//tablet
@media only screen and (min-width: 501px) and (max-width: 1180px) {
    input[type=text], input[type=number], input[type=email] {
        margin-top: -50px;
        font-size: 20vw;
    }

    header {
        position: fixed;
        top: 0;

        img {
            margin-top: -25px;
            margin-right: -40px;
            width: 35%;
            float: right;
        }
    }

    label {
        font-size: 7vw;
        line-height: 90px;
    }

    #LD-form {
        z-index: 999;
        overflow-y: scroll;
        margin-top: 170px;
    }

    #number-capture {
        font-family: "Ramdone";
        margin-top: -100px;
    }
    
    #name-capture {
        margin-top: -80px;
    }
}

//desktop
@media only screen and (min-width: 1181px){
    input[type=text], input[type=number], input[type=email] {
        margin-top: -100px;
        font-size: 15vw;
    }

    header {
        position: fixed;
        top: 0;

        img {
            margin-top: -70px;
            margin-right: -60px;
            width: 25%;
            float: right;
        }
    }

    #form-container {
        padding-bottom: 200px;
    }

    label {
        font-size: 8vw;
        line-height: 150px;
    }

    #LD-form {
        overflow-y: scroll;
        margin-top: 100px;
    }

    #number-capture {
        font-family: "Ramdone";
        margin-top: -170px;
    }
    
    #name-capture {
        margin-top: -160px;
    }
}