@font-face {
    font-family: "Gecko Lunch";
    src: url("Gecko_Lunch.ttf");
}

@font-face {
    font-family: "Ramdone";
    src: url("Ramdone_DEMO.ttf");
    unicode-range: U+30-39;
}

#LD-form {
    margin-top: 40px;
    text-align: center;
}

input[type=text] {
    width: 80%;
}

input[type=number] {
    font-family: "Ramdone";

    &::placeholder {
        font-size: 30px;
    }
}

input[type=text], input[type=number], input[type=email] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    background-color: #fff;
    border: none;
    box-shadow: none;
    width: 90%;
    font-size: 10vw;
    font-weight: thin;
    line-height: 50px;
    text-transform: uppercase;
    color: #fff;
    caret-color: #39D077;
    border: 3px solid #fff;
    text-align: center;
    padding-left: 10px;
    text-shadow: -4px -1px 0 #39D077, 1px -1px 0 #39D077, -1px 1px 0 #39D077, 1px 1px 0 #39D077;

    // &::placeholder {
    //     font-size: 30px;
    //     line-height: 50px;
    //     color: #f7fc9f;
    //     text-shadow: -1px -1px 0 #A0CBF3, 1px -1px 0 #A0CBF3, -1px 1px 0 #A0CBF3, 1px 1px 0 #A0CBF3;
    // }

    &::placeholder {
        font-size: 30px;
        color: #d3d3dd;
        text-shadow: none;
    }
}

input:focus {
    outline: none !important;
    border: 3px solid #39D077;
    border-radius: 10px;
}

label {
    font-size: 40px;
    line-height: 50px;
    color: #f7fc9f;
    box-shadow: none;
    text-shadow: -1px -1px 0 #A0CBF3, 1px -1px 0 #A0CBF3, -1px 1px 0 #A0CBF3, 1px 1px 0 #A0CBF3; 
}

#submit-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    margin-top: 40px;
    margin-left: -100px;
    margin-right: -100px;
    border: none;
    background-color: transparent;
    color: #fff;
    width: 550px;
    height: 120px;
    font-size: 70px;
    background-color: #FA6C1C;
}


label, h1, button, input {
    font-family: "Gecko Lunch";
}

//desktop
@media only screen and (min-width: 768px){

}